body {
    font-family: Arial, sans-serif;
    background-color: #2c2f33;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

header {
    padding: 20px;
    background-color: #23272a;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    padding-right: 120px;
    font-size: 36px;
}

header .admin-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #3bbabe;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, background-color 0.3s;
}

header .admin-button:hover {
    background-color: #3e9ea1;
    transform: scale(1.05);
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: #ffffff;
}

button, input, select {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #3e3e3e;
    color: #ffffff;
}

button {
    background-color: #3bbabe;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #3e9ea1;
}

#startScanButton {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3bbabe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
}

#startScanButton:hover {
    background-color: #3e9ea1;
    transform: scale(1.05);
}

#totalPrice {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #3e3e3e;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #424549;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table thead {
    background-color: #3bbabe;
}

table th, table td {
    padding: 15px;
    text-align: left;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

table th {
    text-transform: uppercase;
    letter-spacing: 1px;
}

table tr:last-child td {
    border-bottom: none;
}

table tr:nth-child(even) {
    background-color: #3a3f44;
}

table tr:hover {
    background-color: #2c2f33;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #424549;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    color: #ffffff;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.scanner-modal-content {
    width: 90%;
    max-width: 300px;
    height: 90%;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    z-index: 50; 
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#scannerFrame {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corner {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(192, 192, 192, 0.8);
}

.top-left {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.top-right {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
}

.bottom-left {
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: none;
}

.bottom-right {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

#scanline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #00ffff;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5);
    animation: scan 2s linear infinite;
    display: none;
}

@keyframes scan {
    0% { top: 0%; }
    50% { top: 98%; }
    100% { top: 0%; }
}

.alerts-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1050;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.alert {
    padding: 15px;
    background-color: #f0ad4e;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    max-width: 300px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.6s, transform 0.6s;
    transform: translateY(0);
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-warning {
    background-color: #ffeeba;
    color: #856404;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}
.modal-content .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.modal-content button {
    display: inline-block;
    margin: 10px auto;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }

    main {
        padding: 10px;
    }

    table th, table td {
        padding: 10px;
        font-size: 14px;
    }

    .modal-content {
        width: 90%;
    }

    .btn-back, .btn-save, .btn-add {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 30px;
    }

    button, input, select {
        font-size: 20px;
    }

    .btn-back, .btn-save, .btn-add {
        padding: 8px;
        font-size: 12px;
    }

    table th, table td {
        padding: 8px;
        font-size: 14px;
    }
}
